SERVER_PORT=
ACTIVE_PROFILE=

USER_SERVICE_HOST=
USER_SERVICE_PORT=
USER_SERVICE_URL=

AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=
AUTH_SERVICE_URL=

ORDER_SERVICE_HOST=
ORDER_SERVICE_PORT=
ORDER_SERVICE_URL=

PAYMENT_SERVICE_HOST=
PAYMENT_SERVICE_PORT=
PAYMENT_SERVICE_URL=

KAFKA_HOST=
KAFKA_PORT=
KAFKA_HOST_PORT=
KAFKA_CONTROLLER_PORT=

INTERNAL_API_KEY=
GATEWAY_API_KEY=

CORS_ALLOWED_ORIGINS=
USER_SERVICE_CORS_ALLOWED_ORIGINS=
AUTH_SERVICE_CORS_ALLOWED_ORIGINS=
ORDER_SERVICE_CORS_ALLOWED_ORIGINS=
PAYMENT_SERVICE_CORS_ALLOWED_ORIGINS=

USER_POSTGRES_DB=
USER_POSTGRES_USER=
USER_POSTGRES_PASSWORD=
USER_POSTGRES_PORT=
USER_POSTGRES_HOST=
USER_POSTGRES_HOST_PORT=

AUTH_POSTGRES_DB=
AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_HOST=
AUTH_POSTGRES_HOST_PORT=

ORDER_POSTGRES_DB=
ORDER_POSTGRES_USER=
ORDER_POSTGRES_PASSWORD=
ORDER_POSTGRES_PORT=
ORDER_POSTGRES_HOST=
ORDER_POSTGRES_HOST_PORT=
POSTGRES_DRIVER=

MONGO_HOST=
MONGO_PORT=
MONGO_HOST_PORT=
MONGO_DATABASE=
MONGO_USER=
MONGO_PASSWORD=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

RANDOM_API_URL=